//全ページ共通部分

body{
    font-size:14px;
}
    
.image{
    max-width:100%;
    margin:auto;
}
img{
    max-width:100%;
    
}
.wrapper{
    background-color:#f9f8f6;
    background-size: cover;
}
//wrapper以外の全要素
.container{
    max-width: 960px;
    margin:0 auto;
    
}
//header
header{
    width:98%;
    display:flex;
    justify-content:space-between;
    padding:30px 0;
}
.navi{
    padding-left:20px;
}

.navi-s{
    padding-left:10px;
}
#menu {
      display: none;
}
.sp_menu_toggle {
      display: none;
}

//コンテンツ main+sideの親要素
.contents{
    display:flex;//main, sideを横並び
    width:98%;
    margin:auto;
}

//main
.main{
    width:74%;
    margin:0 5px;
}

.index-main{
    margin-top:-14px;
}

//side
.side{
    width:25%;
}



//main top-page,list

.top-image{
    max-width:100%;
    height:auto;
    margin: 0 auto;
}

//main>商品
.title{
    display:block;
    margin:25px 0px;
}

//boxes 
.boxes{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex:1;
}

.box{
   
    width: calc(100% / 3 - 22px);
    background-color:#fff;
    padding:6px;
    margin:5px 5px;
   
}

.box p{
    display:block;
    margin:7px 5px;
    line-height:1.25em;
}

.box img{
    display:block;
    max-width:100%;
    margin:0 auto;
}
//
//全ページ共通部分　main>guide

.guide-boxes{
    display:flex;
    margin-bottom:25px;
}
.guide-box{
    flex:1;
    background-color:#fff;
    margin:3px;
    padding:10px;
}
.guide-box h3{
    font-weight:bold;
    margin:10px;
}

.guide-box-title{
    color:#887f69;
    font-weight:bold;
}
.guide-box p{
    display:block;
    margin:10px 5px;
}


//page-top
.page-top{
    display:block;
    text-align:right;
}

.page-top-border p{
    margin:20px;
    border-bottom:solid 0.1px;
}

//footer
footer{
  
    padding:15px 0 100px 0;
    text-align:center;
    margin-top:50px;
}
.copyright{
    
    color:#e2ddd4;
    font-weight:bold;
    margin-top:20px;
}

//side
.side-menu-box{
    width:90%;
    background-color:#fff;
    margin:0 10px 10px 10px;
}
.side-menu-top{
    padding:16px 10px;
    width:100%;
    box-sizing:border-box;
    background-color:#887f69;
    display:flex;
    justify-content:space-between;
}

.item-search{
    height:80px;
    
}

.item-search-box{
  height:30px;
  width:90%;
  margin-left:10px;
}

#item-serch-icon{
    margin:10px;
    
}

#item-serch-box-icon{
   text-align:right;
}

.serch-input{
    width:95%;
    background-color:#f9f8f6;
    background-image:url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position:right;
    font-style:oblique;
    font-weight:bold;
    font-size:12px;
    height:20px;
  
}


.category-name{
    padding:16px 10px;
    border-top:solid 0.1px #f9f8f6 ;
    display:flex;
    justify-content:space-between;
}


.side-image{
    text-align:center;
    margin:7px;
}
.side-image-box p{
    display:block;
    margin:7px 5px;
    text-align:center;
}

.side-more{
    text-align:center;
    padding:10px 0;
}



//pan list,product-detailのみ

.sp{
    display:none;
}

.pan{
    width:100%;
    height:35px;
    background-color:#e2ddd4;
    background-image:url("../images/list/home_icon.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    margin-bottom:10px;
}

.pan p{
    color:#887f69;
    margin-left:30px;
    line-height:35px
}

//product-detailのみ

.main-1{
    background-color:#fff;
}

.pro{
    display:flex;
    justify-content:space-between;
    width:84%;
    height:70px;
    margin:0 auto;
    .pro-name,.pro-number{flex: 0 0 50%}
    
}
.pro-name{
    line-height:70px;
    font-weight:bold;
}

.pro-number{
    text-align:right;
    line-height:70px;
    color:#e2ddd4;
}


//big-imageとulの親要素
.main-2{
    width:84%;
    margin:auto;
    display:flex;//big-imageとulを横並び
    padding:10px 0;
    border-top:solid 1px #e2ddd4;
    border-bottom:solid 1px #e2ddd4;
   
}

#display-image{
    width:70%;
    text-align:center;
}

#list-image{
    width:30%;
    background-color:#fff;
    display:flex;//li横並び
    flex-wrap:wrap;//li折り返し
    align-content: flex-start;//li上詰め
    margin-left:5px;
    
}

li{
    width:47%;
    padding-bottom:5px;
    margin-left:5px;
}

.image-gray{
    width:100%;
    height:100%;
}

//table
.main-3{
    width:84%;
    margin:0 auto 15px;
    padding:10px 0;
    border-top:solid 1px #e2ddd4;
    border-bottom:solid 1px #e2ddd4;
}
.color-size{
    margin:10px 0;
}
table{
    width:100%;
    border:1px solid #e2ddd4;
    color:#887f69;
    border-collapes:collapse;
    margin:15px auto;
}

td,th{
     border:1px solid #e2ddd4;
     text-align:center;
     line-height:40px;
}
.td-2{ padding:0 40px;}

.table-color{
    background-color:#f9f8f6;
}

//カート
.purchase-container{
    display:flex;
}

.pricequantity{
    width:70%;
    border-top:1px solid #e2ddd4;
    border-bottom:1px solid #e2ddd4;
    margin-right:20px;

}
    
.price{
    border-top:1px solid #e2ddd4;
    padding:20px 0;
}

.price p{
    display:inline-block;
}

.price-a{
   color:red;
   font-size:25px;
   font-weight:bold;
   margin:0 10px 0 30px;
   font-style:oblique;
}
.price-image{
    position: relative;
    top: -3px;
}
.quantity-a{
    line-height:45px;
}
.quantity-b{
    margin-left:20px;
}
.add-cart{
    width:40%;
    margin:0 auto;
}

.quantity{
    border-bottom:1px solid #e2ddd4;
    border-top:1px solid #e2ddd4;
    padding:10px 0;
    display:flex;
}
.quantity input{
    height:35px;
}

//商品説明
.exc-title-top{
     border-bottom:1px solid #887f69;
     padding:20px 0 10px 0;
     margin:25px 0;
     color:#887f69;
     font-weight:bold;
}
.exc-title{
     margin-bottom:20px;
     color:#887f69;
     font-weight:bold;
}

.title{
    margin:15px 0;
}

//product-detail page のみ終了




@media(max-width:768px){
  
    .sp{
        display:inline-block;
    }
    
    .container{
        width:98%;
    }

    header{
     flex-direction:column;
     text-align:center;
    }
    
    .pc_navi{
        display:none;
    }
   
    #menu {
      cursor: pointer;
      display:inline;
    }
    

    .contents,.guide-boxes{
        flex-direction:column;
    }
    .main{
      width:100%;
    }
    
    .guide,.new-title,.popular-title,.recent{
    text-align:center;
    margin:20px 0;
    }
    
//product-detailのみ    
    .purchase-container{
        flex-wrap:wrap;
    }
    .price,.add-cart{
        width:100%;
         padding:20px 0;
    }
//product-detailのみ終了
    .main-2{
        flex-wrap:wrap;
    }
    #display-image{
        width:100%;
        margin:auto;
    }
    #list-image{
        width:100%;
        display:flex;
    }
    li{
       width: calc(100% / 5 - 6px);
       margin:auto;
    }
    .boxes{
        flex-wrap:wrap; 
    }
    
    .box{
         width: calc(100% / 2 - 22px);
    }
 
    .side{
        width:100%;
        
    }
    
    .side-image{
        display:block;
        width:50%;
    }
    .side-image-box{
        display:flex;
        
    }
//product-detail-page,list   
    .pc{
        display:none;
    }
    
  }